@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap&subset=cyrillic,cyrillic-ext');

* {
    box-sizing: border-box;
}

.butn {
    background: #000;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .23px;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 25px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}
.butn:hover {
    color: #FFF;
    text-decoration: none;
}

.butn.butn-black {
    background: #000;
    color: #FFF;
}

body {
    min-height: 100vh;
    position: relative;
    font-family: 'PT Sans', sans-serif;
}

.content {
    min-height: 100vh;

}

header {
    background: #FFF;
    padding: 25px;
    height: 70px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.header__logo {
    float: left;
    color: #000;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -21px;
    border: 1px solid #333;
    padding: 8px;
    font-size: 16px;
}
.header__main-menu {
    list-style: none;
    float: left;
}
.header__main-menu li {
    display: inline-block;
    margin-right: 20px;
}
.header__main-menu li.current a {
    color: #000;
}
.header__main-menu li a {
    color: #666;
    font-size: 16px;
    font-weight: 500;
}
.header__right {
    float: right;
}
.header__right a {
    color: #000;
}

footer {
    background: #191919;
    padding: 10px 10px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    margin-right: 20px;
    color: #929292;
}

footer li a {
    color: #929292;
}



/*** main ****/


.main {
    background: #212121;
    min-height: 100vh;

}

.sports-wrapper {
    display: flex;
    height: 100vh;
    padding: 120px 40px 40px;
    flex-direction: column;
    justify-content: center;
}

.sports {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.sports-item {
    position: relative;
    width: 20%;
    -webkit-transition: transform 0.5s ease-in-out;
}
.sports-item:hover {
        transform: translateZ(0) scale(1.2);
}

.sports-text {
    width: 20%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sports-item__img {
    width: 100%;
}
.sports-item__title {
    font-weight: bold;
    color: #FFF;
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 20px;
    text-align: left;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 1;

}

/*** detail page ***/


.detail-page {
    background: #F5F5F5;
    min-height: 100vh;
    padding-top: 140px;
    padding-bottom: 45px;
}

.back-line {
    color: #FFF;
    background: #2B2B2B;
    padding: 27px 34px;
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 222;
}
.back-line a {
    text-decoration: none !important;
    font-size: 16px;
    color: #FFF;
}
.sport-detail__section {
    height: calc(100vh - 178px);
    background: #111;
    color: #FFF;

}
.sport-detail__section-inner {
    overflow: hidden;
}

.sport-detail__section-left {
    float: left;
    width: 50%;
    padding: 0 100px;
}
.sport-detail__section-right {
    float: right;
    width: 50%;
    padding: 0 65px;
}

.sport-detail__section img {
    max-width: 430px;
    max-height: calc(100vh - 308px);
    position: relative;
    left: 50%;
    margin-left: -215px;
}

.sport-detail__section:nth-child(even) {
    background: #F5F5F5;
    color: #000;
}

.sport-detail__section .butn {
    background: #FFF;
    color: #000;
    width: 240px;
}

.sport-detail__section:nth-child(even) .butn {
    background: #000;
    color: #FFF;
}

.detail-image {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 178px);
}

.detail-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 178px);
    padding-left: 34px;
}

.detail-text p {
    padding: 20px 20px 20px 0;
    font-size: 16px;
    line-height: 28px;
}

.detail-text table {
    margin-bottom: 20px;
}

.detail-text td {
    padding: 10px 20px;
    border-right: 1px solid #FFF;
    text-align: left
}

/*** map ****/

.map {
    border-top: 1px solid #CCC;
    height: 100vh;
    padding-top: 70px;
}
.map-left {
    float: left;
    width: 285px;
    background: #FFF;
    padding: 20px;
}
.map-container {
    margin-left: 285px;
    height: 100vh;
}

.map-left__title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.map-left__item {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

/*** Events ****/

.events-page {
    height: 100vh;
    padding-top: 70px;
}

.events-top {
    padding: 40px 29px 40px;
    border-top: 1px solid #E5E5E5;
    overflow: hidden;
}

.events-top__left {
    float: left;
}
.events-top__right {
    float: right;
}

.events-top__link {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: #111;
    text-decoration: none !important;
    cursor: pointer;
}

.events-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #EEEEEE;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 90vh;
    padding-top: 60px;

}

.event-item {
    width: 30%;
    height: 630px;
    margin-bottom: 40px;

    text-decoration: none !important;
}

.event-item__info {
    height: 166px;
    background: #FFF;
    padding: 68px 25px 34px;
    display: block;
    width: 100%;
}
.event-item__type {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    color: #111;
    display: block;
}
.event-item__date {
    color: #8d8d8d;
    font-size: 16px;
    line-height: 28px;
    display: block;
}

.event-item__img {
    display: block;
    height: 464px;
    background-size: cover;
    position: relative;
}

.event-item__title {
    position: absolute;
    bottom: 26px;
    left: 26px;
    font-weight: bold;
    color: #FFF;
    font-size: 60px;
}


/**** contacts ****/

.contacts-top {
    margin-bottom: 60px;
}

.contacts-info {
    overflow: hidden;
    width: 700px;
    margin: 0 auto 60px;
}

.contacts-info__item {
    float: left;
    width: 33%;
    border-right: 1px solid #EBEBEB;
    padding-left: 20px;
}
.contacts-info__item:last-child {
    border: none;
}

.contacts-info__item a {
    color: #111;
}

.contacts-info__item-icon {
    float: left;
    width: 48px;
    height: 48px;
}

.contacts-info__item-icon-data {
    background: url(/static/img/contacts-data.png) no-repeat;
    background-size: contain;
}

.contacts-info__item-icon-location {
    background: url(/static/img/contacts-location.png) no-repeat;
    background-size: contain;
}
.contacts-info__item-icon-time {
    background: url(/static/img/contacts-time.png) no-repeat;
    background-size: contain;
}


.contacts-info__item-text {
    margin-left: 54px;
}

.contacts-info__item-text span {
    color: #666666;
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.contacts-info__item-text div {
    color: #111111;
    font-size: 20px;
}

.contacts-btn {
    text-align: center;
}


/***** order page ******/

.order-info__title {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}

.order-block {
    margin-bottom: 20px;
}

.order-info {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 650px;
}

.order-info input[type="text"] {
    border: none;
    background: #DDDDDD;
    padding: 3px 5px;
    width: 200px;
}
.order-info label {
    text-transform: uppercase;
    width: 100px;
    text-align: left;
}

.order-info label.checkbox-label {
    text-transform: none;
    width: auto;
}