{% extends 'base.html' %}

{% block title %}О лагере{% endblock %}

{% block page %}
    <div class="back-line">
        <a href="/">< Назад</a>
    </div>

    <div class="detail-page">
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Сбалансированная программа</h2>
                        <p>
                             Самое главное – определиться с видом спорта, который подходит именно вашему ребенку:
футбол, гимнастика или единоборства.
Мы делаем упор именно на спортивную составляющую лагеря, так как весь учебный год дети были загружены уроками и прочими полезными для их развития активностями.
Мы же хотим дать им возможность насладиться движением.
Спорт в основе летнего отдыха для перезагрузки перед новым учебным годом!

                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Вам подходит наш лагерь если:</h2>
                        <p>
                            ✓	Хотите, чтобы Ваш ребёнок провёл летние каникулы ярко и с пользой для себя<br/>
                            ✓	Хотите, чтобы Ваш ребёнок занимался у профессионалов европейского уровня<br/>
                            ✓	Хотите, чтобы Ваш ребёнок занимался в комфортных и современных условиях<br/>
                            Погрузитесь в праздничную атмосферу одного дня нашего лагеря (футбол).
                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/d29yOjB_9-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Примерное расписание на день</h2>
                           <table>
                               <tr>
                                   <td>9:00</td>
                                   <td>Встреча участников</td>
                               </tr>
                               <tr>
                                   <td>10:00</td>
                                   <td>Игра в футбол</td>
                               </tr>
                               <tr>
                                   <td>12:00</td>
                                   <td>Обед</td>
                               </tr>
                               <tr>
                                   <td>9:00</td>
                                   <td>Встреча участников</td>
                               </tr>
                               <tr>
                                   <td>10:00</td>
                                   <td>Игра в футбол</td>
                               </tr>
                               <tr>
                                   <td>12:00</td>
                                   <td>Обед</td>
                               </tr>
                               <tr>
                                   <td>9:00</td>
                                   <td>Встреча участников</td>
                               </tr>
                               <tr>
                                   <td>10:00</td>
                                   <td>Игра в футбол</td>
                               </tr>
                               <tr>
                                   <td>12:00</td>
                                   <td>Обед</td>
                               </tr>
                               <tr>
                                   <td>9:00</td>
                                   <td>Встреча участников</td>
                               </tr>
                               <tr>
                                   <td>10:00</td>
                                   <td>Игра в футбол</td>
                               </tr>
                               <tr>
                                   <td>12:00</td>
                                   <td>Обед</td>
                               </tr>
                               <tr>
                                   <td>9:00</td>
                                   <td>Встреча участников</td>
                               </tr>
                               <tr>
                                   <td>10:00</td>
                                   <td>Игра в футбол</td>
                               </tr>
                               <tr>
                                   <td>12:00</td>
                                   <td>Обед</td>
                               </tr>
                               <tr>
                                   <td>9:00</td>
                                   <td>Встреча участников</td>
                               </tr>
                               <tr>
                                   <td>10:00</td>
                                   <td>Игра в футбол</td>
                               </tr>
                               <tr>
                                   <td>12:00</td>
                                   <td>Обед</td>
                               </tr>
                           </table>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Обучим</h2>
                        <p>
                            <strong>Методология</strong>. В копилке наших спортивных директоров собрано более 850 тренировочных программ, разработанных на основе опыта лучших мировых представителей видов спорта, представленных в нашем лагере, и наших собственных наработок.
Каждый участник улучшит свои технические и физические качества.

                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Накормим</h2>
                        <p>
                            <strong>Правильное питание.</strong> Чтобы добиться высоких спортивных результатов, важно правильно дозировать нагрузки и обеспечивать восстановление после них. На время проведения лагеря наши специалисты подготовили меню полноценного спортивного питания.
                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Оденем</h2>
                        <p>
                            <strong>Экипировка.</strong> Качество и внешний вид спортивной формы показывают лицо команды и спортсменов. Экипировка, предназначенная для детей, должна быть высочайшего качества. Участники смен обеспечивается экипировкой в зависимости от вида спорта.

                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Поплаваем</h2>
                        <p>
                           В большинстве локаций мы предусмотрели возможность посещать <strong>бассейн</strong>.
                            <br/>
                            ✓	За детьми следят несколько тренеров<br/>
                            ✓	Важный элемент физического развития


                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">

                        <h2>Посмотрим</h2>
                        <p>
                            В досуговую программу включено посещение кинотеатра*<Br/>
                            ✓	Детей сопровождают тренеры и менеджер<br/>
                            ✓	Фильмы соответствуют возрастной категории<Br/><br/>
                            *Посещение кинотеатра именно в вашу смену уточняйте у персонального менеджера.

                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Поиграем</h2>
                        <p>
                            Наша задача, сделать детям подарок, эмоции от которого останутся на весь учебный год.
В течение смены их ждёт посещение боулинга*, турнир по FIFA 2020 (Play Station4) и многие другие веселые активности.

                            <Br/>
                            <br/>
                            *Посещение боулинга именно в вашу смену уточняйте у персонального менеджера.

                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section">
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        <h2>Позаботимся</h2>
                        <p>
                            ✓	Неограниченный запас бутилированной воды<br/>
                            ✓	Свежие фрукты в любое время<br/>
                            ✓	Настольный теннис<br/>
                            ✓	Игровая площадка<br/>
                            ✓	Ассортимент настольных игр<br/>

                        </p>
                        <a href="" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right">
                    <div class="detail-image">
                            <img src="/static/img/temp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}