{% extends 'base.html' %}

{% block title %}События{% endblock %}

{% block page %}
    <div class="events-page">
        <div class="events-top">
            <div class="events-top__left">
                <a class="events-top__link">Футбол</a>
                <a class="events-top__link">Единоборства</a>
                <a class="events-top__link">Гимнастика</a>
            </div>
            <div class="events-top__right">
                <a class="events-top__link">Стадион 1</a>
                <a class="events-top__link">Стадион 2</a>
                <a class="events-top__link">Стадион 3</a>
            </div>
        </div>
        <div class="events-content">
            {% for event in events %}
                <a href="/events/{{ event.id }}" class="event-item">
                    <span class="event-item__info">
                        <span class="event-item__type">{{ event.sport }}</span>
                        <span class="event-item__date">{{ event.eventDate }}</span>
                    </span>
                    <span class="event-item__img" style="background-image: url({{ event.image.url }})">
                        <span class="event-item__title">{{ event.name }}</span>
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}