{% extends 'base.html' %}
{% block title %}{{stadium.name}}{% endblock %}
{% block page %}
    <div class="back-line">
        <a href="/stadiums/">< Назад</a>
    </div>
    <div class="detail-page">
        <div class="stadium-detail__top-img">
            <object style="height: 500px; width: 100%">
                <param name="movie" value="{{ stadium.video }}">
                <param name="allowFullScreen" value="true">
                <param name="allowScriptAccess" value="always">
                <embed src="{{ stadium.video }}" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="100%" height="390">
            </object>

        </div>
        <div class="container">
            <div class="stadium-detail__title">
                Стадион «{{stadium.name}}»
            </div>
             <div class="contacts-info">
                <div class="contacts-info__item">
                    <div class="contacts-info__item-icon contacts-info__item-icon-location"></div>
                    <div class="contacts-info__item-text">
                        <span>Местонахождение</span>
                        {{ stadium.adress }}<br/>
                        <a href="http://maps.yandex.ru/?text={{ stadium.coordinates }}" target="_blank">На карте</a>
                    </div>
                </div>
                <div class="contacts-info__item">
                    <div class="contacts-info__item-icon contacts-info__item-icon-data"></div>
                    <div class="contacts-info__item-text">
                        <span>Смены проводятся с</span>
                        <div>{{ stadium.timefrom }}</div>
                        <div>{{ stadium.timeto }}</div>
                    </div>
                </div>
                <div class="contacts-info__item">
                    <div class="contacts-info__item-icon contacts-info__item-icon-time"></div>
                    <div class="contacts-info__item-text">
                        <span>Виды спорта</span>
                        {% for sport in sports %}
                        <div class="stadium__sport-item">
                            {{ sport }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section sport-detail__section--gray" >
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        {{ stadium.description }}
                        <br/><br/>
                        <a href="/order/" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="sport-detail__section-right" style="padding-top: 50px;">
                    <div class="slider">
                        {% for slide in slides %}
                            <img src="{{ slide.image.url }}" alt="">
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('.slider').slick({
                prevArrow: '<span class="prev-arr"> < </span>',
                nextArrow: '<span class="next-arr"> > </span>',
                slidesToShow: 1,
                slidesToScroll: 1,
                centerMode: true,
                variableWidth: true,
                infinite: true,
            })
        });
    </script>
{% endblock %}