{% extends 'base.html' %}
{% block title %}{{stadium.name}}{% endblock %}
{% block page %}
    <div class="back-line">
        <a href="/stadiums/">< Назад</a>
    </div>
    <div class="detail-page">
        <div class="stadium-detail__top-img">
            <iframe width="100%" height="500" src="{{ stadium.video }}?hd=1&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div class="container">
            <div class="stadium-detail__title">
                Стадион «{{stadium.name}}»
            </div>
             <div class="contacts-info">
                <div class="contacts-info__item">
                    <div class="contacts-info__item-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="contacts-info__item-text">
                        <span>Местонахождение</span>
                        {{ stadium.adress }}<br/>
                        <a href="http://maps.yandex.ru/?text={{ stadium.coordinates }}" target="_blank">На карте</a>
                    </div>
                </div>
                <div class="contacts-info__item">
                    <div class="contacts-info__item-icon"><i class="far fa-calendar-alt"></i></div>
                    <div class="contacts-info__item-text">
                        <span>Смены проводятся</span>
                        <div>c {{ stadium.timefrom }}</div>
                        <div>по {{ stadium.timeto }}</div>
                    </div>
                </div>
                <div class="contacts-info__item">
                    <div class="contacts-info__item-icon"><i class="fas fa-futbol"></i></div>
                    <div class="contacts-info__item-text">
                        <span>Виды спорта</span>
                        {% for sport in sports %}
                        <div class="stadium__sport-item">
                            ✓ {{ sport }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="sport-detail__section sport-detail__section--gray" >
            <div class="sport-detail__section-inner">
                <div class="sport-detail__section-left">
                    <div class="detail-text">
                        {{ stadium.description|linebreaks }}
                        <br/><br/>
                        <a href="/order/" class="butn">Записаться</a>
                    </div>
                </div>
                <div class="stadium-detail__section-right">
                    <div class="owl-carousel">

                        {% for slide in slides %}
                            <div style="background-image: url({{ slide.image.url }}); background-size: cover; height: 60vh; background-position: 50%;">
{#                                <img src="{{ slide.image.url }}" alt="">#}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 1,
                nav: true,
                loop: true
            });
        });
    </script>
{% endblock %}